In [198]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [199]:
doc = pd.read_excel("C:/Users/STAFF/Desktop/Git_Repos/Telco_customer_churn.xlsx")
doc.sample(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
1017,5089-IFSDP,1,United States,California,Huntington Beach,92647,"33.723579, -118.005441",33.723579,-118.005441,Female,...,Two year,Yes,Bank transfer (automatic),109.45,6144.55,Yes,1,89,6424,Product dissatisfaction
5544,5236-XMZJY,1,United States,California,Los Angeles,90031,"34.085807, -118.206617",34.085807,-118.206617,Female,...,Month-to-month,No,Bank transfer (automatic),59.65,2536.55,No,0,80,3048,NaN
6220,9500-WBGRP,1,United States,California,Danville,94526,"37.815459, -121.977203",37.815459,-121.977203,Male,...,Two year,Yes,Mailed check,19.10,1268.85,No,0,31,4535,NaN
4641,8617-ENBDS,1,United States,California,Helendale,92342,"34.757783, -117.33997",34.757783,-117.339970,Male,...,Month-to-month,Yes,Credit card (automatic),73.60,232.5,No,0,53,5510,NaN
915,7587-RZNME,1,United States,California,Valencia,91355,"34.43987, -118.644609",34.439870,-118.644609,Male,...,Month-to-month,Yes,Electronic check,43.30,123.65,Yes,1,91,4849,Lack of affordable download/upload speed

In [200]:
doc.drop(columns =["CustomerID","Count","Churn Reason","Churn Label","Churn Score","Lat Long"], inplace = True)

In [201]:
doc.shape

(7043, 27)

In [202]:
doc = doc.dropna()
doc.shape

(7043, 27)

In [203]:
doc = doc[doc["Total Charges"] != " "]
doc.shape

(7032, 27)

In [204]:
doc["Total Charges"] = pd.to_numeric(doc["Total Charges"])

In [205]:
doc.dtypes

Country               object
State                 object
City                  object
Zip Code               int64
Latitude             float64
Longitude            float64
Gender                object
Senior Citizen        object
Partner               object
Dependents            object
Tenure Months          int64
Phone Service         object
Multiple Lines        object
Internet Service      object
Online Security       object
Online Backup         object
Device Protection     object
Tech Support          object
Streaming TV          object
Streaming Movies      object
Contract              object
Paperless Billing     object
Payment Method        object
Monthly Charges      float64
Total Charges        float64
Churn Value            int64
CLTV                   int64
dtype: object

In [206]:
def values_in_each_col(dataframe):
    for i in dataframe:
        if dataframe[i].dtypes == "object":
            print(f"{i} : {dataframe[i].unique()}")

In [207]:
values_in_each_col(doc)

Country : ['United States']
State : ['California']
City : ['Los Angeles' 'Beverly Hills' 'Huntington Park' ... 'Tulelake'
 'Olympic Valley' 'Redcrest']
Gender : ['Male' 'Female']
Senior Citizen : ['No' 'Yes']
Partner : ['No' 'Yes']
Dependents : ['No' 'Yes']
Phone Service : ['Yes' 'No']
Multiple Lines : ['No' 'Yes' 'No phone service']
Internet Service : ['DSL' 'Fiber optic' 'No']
Online Security : ['Yes' 'No' 'No internet service']
Online Backup : ['Yes' 'No' 'No internet service']
Device Protection : ['No' 'Yes' 'No internet service']
Tech Support : ['No' 'Yes' 'No internet service']
Streaming TV : ['No' 'Yes' 'No internet service']
Streaming Movies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'Two year' 'One year']
Paperless Billing : ['Yes' 'No']
Payment Method : ['Mailed check' 'Electronic check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [208]:
doc.replace("No internet service" , "No", inplace = True)
doc.replace("No phone service" , "No", inplace = True)

In [209]:
values_in_each_col(doc)

Country : ['United States']
State : ['California']
City : ['Los Angeles' 'Beverly Hills' 'Huntington Park' ... 'Tulelake'
 'Olympic Valley' 'Redcrest']
Gender : ['Male' 'Female']
Senior Citizen : ['No' 'Yes']
Partner : ['No' 'Yes']
Dependents : ['No' 'Yes']
Phone Service : ['Yes' 'No']
Multiple Lines : ['No' 'Yes']
Internet Service : ['DSL' 'Fiber optic' 'No']
Online Security : ['Yes' 'No']
Online Backup : ['Yes' 'No']
Device Protection : ['No' 'Yes']
Tech Support : ['No' 'Yes']
Streaming TV : ['No' 'Yes']
Streaming Movies : ['No' 'Yes']
Contract : ['Month-to-month' 'Two year' 'One year']
Paperless Billing : ['Yes' 'No']
Payment Method : ['Mailed check' 'Electronic check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [210]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

for i in doc.columns:
    if doc[i].dtypes == "object":
         doc[i] = encoder.fit_transform(doc[i])

doc.sample(5)

,Country,State,City,Zip Code,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,...,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,CLTV
2644,0,0,222,94925,37.924014,-122.511694,0,0,1,1,...,0,1,1,0,1,0,99.30,4209.95,0,3280
1541,0,0,799,94028,37.369709,-122.215844,1,1,0,0,...,0,1,1,1,1,2,45.25,3264.45,1,5824
4579,0,0,869,92114,32.707892,-117.055120,0,1,1,1,...,0,1,1,2,1,2,96.55,2263.45,0,4309
956,0,0,869,92113,32.697098,-117.116587,0,0,1,0,...,0,1,0,0,1,0,84.40,4116.15,1,5135
2249,0,0,647,92555,33.907361,-117.109972,1,0,0,0,...,0,1,1,0,1,2,106.45,6300.15,0,4842

In [211]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()

# doc = minmax.fit_transform(doc.values)


doc.iloc[:, :] = minmax.fit_transform(doc.values)

doc = pd.DataFrame(doc) 
doc.sample(5)

,Country,State,City,Zip Code,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,...,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,CLTV
2010,0,0,0.115248,0.211201,0.167444,0.555763,0,0,1,0,...,0,0,0,0.0,0,0.333333,0.381592,0.272363,0,0.301534
4891,0,0,0.292553,0.588149,0.408441,0.413659,1,0,1,1,...,0,0,1,1.0,1,0.333333,0.721891,0.749250,0,0.930620
5968,0,0,0.194149,0.467695,0.134331,0.662925,0,1,1,0,...,1,0,0,0.0,1,0.000000,0.583085,0.491224,0,0.896598
3519,0,0,0.315603,0.459578,0.139533,0.630396,0,0,1,0,...,1,0,0,1.0,0,0.333333,0.173632,0.291588,0,0.812097
6734,0,0,0.498227,0.001948,0.158278,0.599592,0,0,0,0,...,0,0,0,0.0,0,0.000000,0.018905,0.025312,0,0.393373

In [212]:
import pandas as pd

doc = pd.DataFrame(doc) 

X = doc.drop(columns = "Churn Value", axis= "columns")
y= doc["Churn Value"]

In [213]:
X.shape

(7032, 26)

In [214]:
from sklearn.model_selection import train_test_split

X_train, X_rem, y_train, y_rem = train_test_split(X, y, train_size= 0.70, random_state=None)
X_valid, X_test, y_valid, y_test = train_test_split(X_rem, y_rem, test_size=0.5)

X_train.shape

(4922, 26)

In [222]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'

In [223]:
import tensorflow
from tensorflow import keras

model = keras.Sequential([
    keras.layers.Dense(26, input_shape = (26), activation = "relu"),
    keras.layers.Dense(1, activation = "sigmoid")
])

model.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

model.fit(X_train, y_train)

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
model_output = model.predict(X_test)